{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
                 <td>
                {% for inf in phone %}
                    <tr>
                        <h3> {{ inf.name }} </h3>
                        <img src={{ inf.image }} height="400">
                        {% if inf.lte_exist is True %}
                            <p>Поддержка LTE - Да </p>
                        {% else %}
                            <p>Поддержка LTE - Да </p>
                        {% endif %}
                        <p>Дата выхода - {{ inf.release_date }}</p>
                        <p><big><b> Стоимость: {{ inf.price }}р. </b></big></p>
                    </tr>
                {% endfor %}
            </td>

        </div>
    </div>
{% endblock %}